<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste participants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Liste participants</p>
    
	<table>
	    <thead>
	        <tr>
	        	<th> Numéro id </th>
	            <th> Nom </th>
	            <th> Prénom </th>
	            <th> Email </th>
	            <th> Date de naissance </th>
	            <th> Organisation </th>
	            <th> Observations </th>
	            <th> Supprimer </th>
	        </tr>
	    </thead>
	    
	    <tbody>
	    <tr th:if="${participants.empty}">
	            <td colspan="2"> Pas de participants </td>
	        </tr>
 
	        <tr th:each="participant : ${participants}">
	        	<td><span th:text="${participant.num_pers}"> Numéro id </span></td>
	            <td><span th:text="${participant.nom}"> Nom </span></td>
	            <td><span th:text="${participant.prenom}"> Prénom </span></td>
	            <td><span th:text="${participant.email}"> Email </span></td>
	            <td><span th:text="${participant.date_naiss}"> Date de naissance </span></td>
	            <td><span th:text="${participant.organisation}"> Organisation </span></td>
	            <td><span th:text="${participant.observations}"> Observations </span></td>

				<td><form action="/supprimer_participant"><input type="hidden" name="id" id="id" th:value="${participant.num_pers}"><input type="submit" value="Supprimer"></form></td>            
	        </tr>

	    </tbody>
	</table>
	<br><br>
	<div><a href="index.html">Retourner au menu principal</a></div>
</body>
</html>