<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste évenements</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Liste évenements</p>
    
	<table>
	    <thead>
	        <tr>
	        	<th> Numéro évenement </th>
	            <th> Intitulé </th>
	            <th> Thème </th>
	            <th> Date de début </th>
	            <th> Description </th>

	        </tr>
	    </thead>
	    
	    <tbody>
	    <tr th:if="${evenements.empty}">
	            <td colspan="2"> Pas d'évenement </td>
	        </tr>
 
	        <tr th:each="evenement : ${evenements}">
	        	<td><span th:text="${evenement.num_even}"> Numéro évenement </span></td>
	            <td><span th:text="${evenement.intitule}"> Intitulé </span></td>
	            <td><span th:text="${evenement.theme}"> Thème </span></td>
	            <td><span th:text="${evenement.date_debut}"> Date de début </span></td>
	            <td><span th:text="${evenement.description}"> Description </span></td>
	            
	            <td><form action="/supprimer_evenement"><input type="hidden" name="id" id="id" th:value="${evenement.num_even}"><input type="submit" value="Supprimer"></form></td>

	        </tr>

	    </tbody>
	</table>
	<br><br>
	<div><a href="index.html">Retourner au menu principal</a></div>
</body>
</html>